@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
    margin:  0;
    padding: 0;
    font-family: 'Raleway', sans-serif; 
}
.portada{
    max-width: 1990px;
}
.banner{
    width:  100%;
    height:auto;
    background-image: url(img/shadow-back2.jpg);
    background-position: center center;
    background-size:cover;
}
.img-center{
    flex-basis:33%;
}

@media (min-width: 576px) {
    .img-center{
        flex-basis:20%;
    }
    .sombra-izquierda,.sombra-derecha{
        flex-basis:20%;
    }
}
.sombra-derecha{
    -webkit-box-shadow: 8px 0px 11px 0px rgba(0,0,0,0.83);
    -moz-box-shadow: 8px 0px 11px 0px rgba(0,0,0,0.83);
    box-shadow: 8px 0px 11px 0px rgba(0,0,0,0.83);
    }
    
    .sombra-centro{
    -webkit-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.91);
    -moz-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.91);
    box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.91);
    }
    
    .sombra-izquierda{
    -webkit-box-shadow: -8px 0px 11px 0px rgba(0,0,0,0.83);
    -moz-box-shadow: -8px 0px 11px 0px rgba(0,0,0,0.83);
    box-shadow: -8px 0px 11px 0px rgba(0,0,0,0.83);
    }